@{

}

<div class="text-right">
    
    Веб-Проект "Опросник" разработан с целью выполнения тестового задания для соискателей на должность "ASP.NET MVC"-разработчик<br>
    <br>
    При разработке использовались следующие технологии:<br>
    - C#/.NET 6.0;<br>
    - ASP.NET core MVC 6.0;<br>
    - ORM EntityFramework Core 6.0;<br>
    - движок представлений Razor;<br>
    - База данныx - PostrgeSQL<br>
    <br>
    <br>
    Проект разработан:<b> Юнусовым Артёмом Ильгизовичем. </b><br>
    
    Образование:<br>
    Оконченное высшее, ЮУрГУ, факультет ММиКТ, направление Прикладная математика, направленность (профиль) Компьютерное моделирование в инженерном и технологическом проектировании. <br>
    На данный момент обучаюсь в магистратуре ЮУрГУ, факультет ММиКТ, кафедра Прикладной математики и программирования, по направлению: Прикладная математика и информатика. Технологии и методы искусственного интеллекта в фундаментальных и прикладных исследованиях. <br>
    <br>
    Личные навыки:<br>
    - Высокий уровень самоорганизации;<br>
    - Готовность к постоянному обучению и освоению новых технологий;<br>
    - Знание основ программирования, алгоритмов и структур данных;<br>
    - Знание принципов объектно-ориентированного программирования;<br>
    <br>
    В ходе учебной деятельности принимал участие в разработке учебного проекта ASP.NET с использованием следующих технологий:<br>
    - ASP.NET core MVC;<br>
    - Entity Framework Сore;<br>
    - React.js;<br>
    - MySQL.<br>
    Ссылка на проект: <a href="https://github.com/sesevasa64/onlyarts">Onlyarts</a>
</div>