@model List<Oprosnik.Models.Question>

<h1>@ViewData["SurveyTitle"]</h1>
@foreach(var item in Model)
{
    @Html.DisplayFor(modelItem => item.Text_Quest)
    @await Component.InvokeAsync("AnswersList", new {quest = item})
}
<div>
    <a asp-action="Index">К списку опросов</a>
</div>